/* Arrival arrival */
.arrival {
  border-radius: 10px;
}
.arrival:hover .arrival__caption {
  top: 50%;
  transform: translateY(-50%);
}
.arrival:hover .arrival__image {
  transform: translateY(-10px);
}
.arrival:hover .arrival__thumb::after {
  top: 0;
}
.arrival:hover .arrival__snippet {
  margin: 15px;
}
.arrival__thumb {
  position: relative;
  max-height: 300px;
  overflow: hidden;
  border-radius: 10px;
}
@media (min-width: 1024px) {
  .arrival__thumb {
    max-height: 300px;
  }
}
.arrival__thumb::after {
  position: absolute;
  top: 0;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(239, 83, 174, 0.5) 40%,
    rgba(255, 255, 255, 0) 100%
  );
  transition: 0.3s;
}
@media (min-width: 1024px) {
  .arrival__thumb::after {
    top: calc(100% - 140px);
  }
}
.arrival__image {
  transition: 0.5s ease-in-out;
}
.arrival__caption {
  position: absolute;
  top: 50%;
  z-index: 1;
  padding: 0 20px;
  color: white;
  transform: translateY(-50%);
  text-align: center;
  transition: 0.3s;
}
@media (min-width: 1024px) {
  .arrival__caption {
    top: calc(100% - 110px);
    transform: unset;
  }
}
.arrival__title {
  display: -webkit-box;
  max-height: 85px;
  overflow: hidden;
  line-height: 15px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.arrival__snippet {
  display: -webkit-box;
  margin: 15px;
  overflow: hidden;
  line-height: 10px;
  text-overflow: ellipsis;
  transition: 0.5s ease-in-out;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
@media (min-width: 1024px) {
  .arrival__snippet {
    margin: 80px 0;
  }
}
.arrival__button {
  display: inline-block;
  color: white;
  border: 1px solid white;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s;
}
.arrival__button:hover {
  color: #f5a;
  background-color: white;
}

.disclaimer {
  position: fixed;
  bottom: 0;
  left: 50%;
  z-index: 2;
  box-sizing: border-box;
  width: 100%;
  padding: 20px 10px;
  background-color: white;
  transform: translateX(-50%);
  font-size: 14px;
  text-align: center;
}
.disclaimer__link {
  color: #755d87;
  text-decoration: none;
}
